<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>若者とおっちゃんのマッチングサービス</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">「Occhan」は、リソースのない"若者"とリソースを提供できる"おっちゃん"をマッチングするサービスです。</p>
        <%= link_to "「Occhan」を始める", problems_path, class:"nav-link btn btn-primary", style:"color:white;" %>
      </div>
    </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">"おっちゃん"は若者の相談に申請しよう！</h2>
        <hr class="light my-4">
        <p class="mb-4">"おっちゃん"の役割を選んだ人は、若者の申請からアドバイスをしたい相談に申請しよう！若者の相談には、欲しいリターンが書いてあるのでマッチングしたら提供しましょう。申請後は若者にメッセージをして場所のセッティングをしてください。</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">"若者"は相談を作成しよう！</h2>
        <hr class="light my-4">
        <p class="mb-4">"若者"は相談を作成しよう！相談と一緒に、アドバイスをさせてあげたリターンを設定しよう！"おっちゃん"から申請が来たらメールが届くのでメッセージをしてみてください。</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">マッチング！！</h2>
        <hr class="light my-4">
        <p class="mb-4">メッセージのやり取りをして、双方のマッチングができたら場所などをセッティングして相談会をしてください。相談後、おっちゃんはリターンを提供してください。</p>
      </div>
    </div>
  </div>
</section>
